.clearfix {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 48px 148px 20px 155px;
    display: block;
    width: 1366px;
    background: url(../images/background.jpg);
    background-size: cover;
}

.header {
    height: 46px;
}

.logo {
    float: left;
    width: 170px;
    height: 46px;
}

.logo__link {
    padding-left: 65px;
    display: block;
    width: 105px;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 0.8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../images/logo.png);
    -webkit-background-size: 48px 46px;
            background-size: 48px 46px;
    background-position: left;
    background-repeat: no-repeat;
    -webkit-transition: color, background 1s ease;
       -moz-transition: color, background 1s ease;
         -o-transition: color, background 1s ease;
            transition: color, background 1s ease;
}

.logo__link:hover {
    color: #f26522;
    background-image: url(../images/logo-hover.png);
}

.logo__link--other-size {
    font-size: 19px;
    letter-spacing: 2.4px;
    line-height: 1.8;
}

.contacts {
    width: 260px;
    height: 46px;
    float: right;
    text-align: right;
}


.contacts__style {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.content {
    margin-right: -33px;
    margin-left: -33px;
}

.content-item {
    margin: 46px 33px 0 33px;
    width: calc(100% / 3 - 66px);
    float: left;
    position: relative;
}

.content-item__link:hover  .content-item__detail {
    display: block;
    bottom: 42px;
}

.content-item__link {
    display: block;
    text-decoration: none;
}

.content-item__link:hover .content-item__text {
    color: #f26522;
}

.content-item__img {
    width: 100%;
    margin-bottom: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fefefe;
    border-image: linear-gradient(to bottom, #fefefe 0%, transparent 100%);
    border-image-slice: 1;
}

.content-item__text {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.content-item__detail {
    padding: 15px 40px 15px 20px;
    width: 100%;
    height: 63px;
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #ffffff;
    background-color: #f26522;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    animation: slide-bar 0.3s ease-in;
}

.content-item__detail--price {
    width: 50px;
    float: left;
    font-size: 10px;
    line-height: 1.3;
}

.price {
    font-size: 20px;
}

@keyframes slide-bar {
    from {
        bottom: -20px;
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0.3;
    }
    to {
        bottom: 42px;
        opacity: 1;
    }
}

.content-item__detail--more {
    margin-top: 20px;
    float: right;
}

.content-item__detail--more:after {
    content: url("../images/arrow.png");
    margin-left: 15px;
    width: 10px;
    height: 10px;

}

.footer {
    margin-top: 58px;
    width: 100%;
}

.footer__text {
    margin: 0 auto;
    width: 360px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
}



